* {
    box-sizing: border-box;
}

html {
    background-color: black;
    color: white;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.container p{
    font-weight: 600;
    font-size: 18px;
}
